.content {
  width: 100%;
  max-width: 51.875rem;
  display: flex;
  flex-direction: column;
  margin: 5.75rem 18.875rem 0 9.25rem;
}

.content__title {
  width: 100%;
  font-size: 3.375rem;
  line-height: 3.625rem;
  font-weight: 900;
  margin: auto;
}

.content__cite {
  width: 100%;
  max-width: 46.125rem;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 400;
  margin: 2.5rem 5.75rem 0 0;
}

.content__cite-autor {
  width: 100%;
  max-width: 45.75rem;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 400;
  margin: 0.625rem 6.125rem 0 0;
  text-align: end;
}

.content__description {
  width: 100%;
  max-width: 45.125rem;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 2rem 6.75rem 0 0;
}

@media screen and (max-width: 64rem) {
  .content {
    margin: 5.625rem auto 0;
  }

  .content__title {
    font-size: 2.8125rem;
    line-height: 3.0625rem;
    margin-right: 0.8125rem;
  }

  .content__cite {
    margin: 3.125rem auto 0;
  }

  .content__cite-autor {
    margin: -0.5rem auto 0;
  }

  .content__description {
    margin: 2rem auto 0;
  }
}

@media (max-width: 34rem) {
  .content {
    margin: 4rem auto 0;
  }

  .content__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: auto;
  }

  .content__cite {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin: 2.5rem auto 0;
  }

  .content__cite-autor {
    margin: 0.625rem auto 0;
  }

  .content__description {
    margin: 2rem auto 0;
  }
}
