.content-section--photo-grid {
  max-width: 74rem;
  margin: 7.375rem auto 0;
}

.photo-grid__container {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 1rem;
}

.photo-grid__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 64rem) {
  .content-section--photo-grid {
    max-width: 45rem;
    margin: 4rem auto 0;
  }
  .photo-grid__container {
    width: 100%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 34rem) {
  .content-section--photo-grid {
    max-width: 18rem;
    margin: 2.375rem auto 0;
  }
  .photo-grid__container {
    width: 100%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(1, 1fr);
    gap: 0.75rem;
  }
}
